# Python cache
__pycache__/
*.py[cod]

# PyTorch model weights
*.pth
*.pt
*.ckpt

# Dataset
dataset/
datasets/

# Experiment outputs
runs/
logs/
checkpoints/

# Temporary files
~$*
*.tmp

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db